@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  flex: 0.5;
  margin: 0.5rem;
  position: relative;
  transition: flex 0.5s ease-in;
}

h3 {
  position: absolute;
  font-size: 2rem;
  bottom: 5%;
  left: 5%;
  display: none;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  display: block;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
/* ================ Photos ================= */
.panel1 {
  background-image: url("/Project-1-ExpandingCards/images/gaming\ setup.jpg");
}

.panel2 {
  background-image: url("/Project-1-ExpandingCards/images/nintendo.jpg");
}

.panel3 {
  background-image: url("/Project-1-ExpandingCards/images/mirrorless\ camera.jpg");
}

.panel4 {
  background-image: url("/Project-1-ExpandingCards/images/mechanical\ keyboard.jpg");
}

.panel5 {
  background-image: url("/Project-1-ExpandingCards/images/hyperx\ ddr4\ ram.jpg");
}
