* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

/* ================ Photos ================= */
.panel1 {
  background-image: url("/Project-1-ExpandingCards/images/gaming\ setup.jpg");
}

.panel2 {
  background-image: url("/Project-1-ExpandingCards/images/nintendo.jpg");
}

.panel3 {
  background-image: url("/Project-1-ExpandingCards/images/mirrorless\ camera.jpg");
}

.panel4 {
  background-image: url("/Project-1-ExpandingCards/images/mechanical\ keyboard.jpg");
}

.panel5 {
  background-image: url("/Project-1-ExpandingCards/images/hyperx\ ddr4\ ram.jpg");
}
